
<div class="container">
<app-step-bar [steps]="steps"></app-step-bar>
</div>

<div class="container" *ngIf="currentProcess == 'sender-address'">
<app-sender-address [senderAddress]="senderAddress" 
(senderAddressChange)="updateSenderAddress($event)"
(showDashboard)="goToDashboard($event)"></app-sender-address>
</div>

<div class="container" *ngIf="currentProcess == 'receiver-address'">
<app-receiver-address [receiverAddress]="receiverAddress" 
(receiverAddressChange)="updateReceiverAddress($event)"
(showPreviousProcess)="updateCurrentProcess($event)"></app-receiver-address>
</div>

<div class="container"  *ngIf="currentProcess == 'select-time'">
    <app-time (selectedTime)="updateTime($event)"
    (showPreviousProcess)="updateCurrentProcess($event)"></app-time>
</div>

<div class="container"  *ngIf="currentProcess == 'confirm'">
    <app-confirm [requestBox]="requestBox"
    (showPreviousProcess)="udpateCurrentProcess($event)"
    (book)="showNextProcess($event)"></app-confirm>
</div>

<div class="container"  *ngIf="currentProcess == 'book'">
    <app-book (showDashboard)="goToDashboard($event)"></app-book>
</div>