<div class="container">
    <app-address-list [addressList]="addresses" (selectedAddress)="updateSelectedAddress($event)"></app-address-list>
</div>

<div class="jumbotron" *ngIf="addresses.length==0">
    <h1 class="display-4">It's empty out here. Create new address by clicking on
        <button class="btn btn-primary" (click)="addNewAddress()"> Create New Address</button>
    </h1>
</div>

<div *ngIf="isAddNewAddress==true">
    <h1>ok</h1>
    <app-new-address [address]="address" [(isAddNewAddress)]="isAddNewAddress" (saveAddress)="save($event)"></app-new-address>
</div>

<div class="container bottom" *ngIf="selectedAddress">
    <div class="lower">
        <button class="btn" (click)="updateProcess()">Back</button>
        <button class="btn btn-primary" (click)="addNewAddress()"> Create New Address</button>
        <button class="btn btn-success" (click)="showNextProcess()">Next</button>
    </div>
</div>