<div class="card-deck">
  <div class="card mb-3" style="max-width: 18rem;" >
      <div class="card-header" >Sender Address</div>
      <div class="card-body">
        <div class="card-text"><strong>Street: </strong>{{requestBox.senderAddress.street}} </div>
        <div class="card-text"><strong>Main Address: </strong>{{requestBox.senderAddress.mainAddress}} </div>
        <div class="card-text"><strong>Landmark: </strong>{{requestBox.senderAddress.landmark}} </div>
        <div class="card-text"><strong>District: </strong>{{requestBox.senderAddress.district}} </div>
        <div class="card-text"><strong>Pincode: </strong>{{requestBox.senderAddress.pincode}} </div>
        <div class="card-text"><strong>State: </strong>{{requestBox.senderAddress.state}} </div>
      </div>
  </div>

  <div class="card mb-3" style="max-width: 18rem;" >
      <div class="card-header" >Receiver Address</div>
      <div class="card-body">
        <div class="card-text"><strong>Street: </strong>{{requestBox.receiverAddress.street}} </div>
        <div class="card-text"><strong>Main Address: </strong>{{requestBox.receiverAddress.mainAddress}} </div>
        <div class="card-text"><strong>Landmark: </strong>{{requestBox.receiverAddress.landmark}} </div>
        <div class="card-text"><strong>District: </strong>{{requestBox.receiverAddress.district}} </div>
        <div class="card-text"><strong>Pincode: </strong>{{requestBox.receiverAddress.pincode}} </div>
        <div class="card-text"><strong>State: </strong>{{requestBox.receiverAddress.state}} </div>
      </div>
  </div>
  </div>