<div class="container">
  <div class="card-deck">
  <div class="card">
      <div class="card-header" >Sender Address</div>
      <div class="card-body">
        <div class="card-text"><strong>Street: </strong>{{requestBox.senderAddress.street}} </div>
        <div class="card-text"><strong>Main Address: </strong>{{requestBox.senderAddress.mainAddress}} </div>
        <div class="card-text"><strong>Landmark: </strong>{{requestBox.senderAddress.landmark}} </div>
        <div class="card-text"><strong>District: </strong>{{requestBox.senderAddress.district}} </div>
        <div class="card-text"><strong>Pincode: </strong>{{requestBox.senderAddress.pincode}} </div>
        <div class="card-text"><strong>State: </strong>{{requestBox.senderAddress.state}} </div>
      </div>
  </div>

  <div class="card">
      <div class="card-header" >Receiver Address</div>
      <div class="card-body">
        <div class="card-text"><strong>Street: </strong>{{requestBox.receiverAddress.street}} </div>
        <div class="card-text"><strong>Main Address: </strong>{{requestBox.receiverAddress.mainAddress}} </div>
        <div class="card-text"><strong>Landmark: </strong>{{requestBox.receiverAddress.landmark}} </div>
        <div class="card-text"><strong>District: </strong>{{requestBox.receiverAddress.district}} </div>
        <div class="card-text"><strong>Pincode: </strong>{{requestBox.receiverAddress.pincode}} </div>
        <div class="card-text"><strong>State: </strong>{{requestBox.receiverAddress.state}} </div>
      </div>
  </div>

  <div class="card bg-light">
      <div class="card-header" >Pick Up Details</div>
      <div class="card-body">
        <div class="card-text"><strong>Pick up Date: </strong>{{requestBox.receiverAddress.street}} </div>
        <div class="card-text"><strong>Pick up Time: </strong>{{requestBox.receiverAddress.mainAddress}} </div>
      </div>
  </div>
  </div>
</div>

<div class="container bottom">
    <div class="lower">
        <button class="btn" (click)="updateProcess()">Back</button>
        <button class="btn btn-success" (click)="showNextProcess()">Confirm</button>
    </div>
</div>