.container-fluid {
    padding-top: 5%;
}

@media (min-width: 941px) {
    .container {
        display: flex;
        justify-content: space-around;
    }
}

.container {
    margin-top: 3rem;
}

.history {
    background: cornsilk;
}