<form action="" #timeForm="ngForm">
        <div class="form-group">
            <label for="Select Pick up Date">Select Pick up Date</label>
            <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" name="dateOfPickUp" [(ngModel)]="dateOfPickUp"
                (ngModelChange)="updateTime($event)" />
        </div>
</form>

<div>
    <ul class="list-group">
    <li  class="list-item" *ngFor="let timeRange of timeRanges"
     [ngClass]="timeRange.class"
        (click)="(currentLimit <= timeRange.limit) && selectTime(timeRange)">{{timeRange.range}}</li>
    </ul>
</div>

<div class="container bottom" *ngIf="currentSelectedTime">
    <div class="lower">
        <button class="btn" (click)="updateProcess()">Back</button>
        <button class="btn btn-success" (click)="showNextProcess()">Next</button>
    </div>
</div>