.default {
    background-color: #636c72;
    color: #fff;
    cursor: no-drop;
}

.primary {
    cursor: pointer;
    background-color: steelblue;
    color: #fff;
}

.selected {
    cursor: pointer;
    background-color: tomato;
}

.time {
    display: flex;
    justify-content: space-evenly;
}

.badge-pill {
    padding: 0.5em 1em;
    font-size: 150%;
}

  .bottom {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1050;
  }

  .lower {
      display: flex;
      justify-content: space-around;
      padding-bottom: 30px;
  }

  .list-item {
      text-align: center;
      padding: 1%;
      margin: 2%;
      font-size: 150%;
  }

  label {
      font-size: 200%;
  }

  input {
      font-size: 120%;
  }